.menu-list__container {
  background-color: #F9F9F9;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;
  height: 100vh;
  width: 200px;
  border-right: 1px solid #E0E0E0;


  a {
    text-decoration: none;
    color: black;
    margin-left: 5px;
    display: flex;
    align-items: flex-start;
    font-size: 12px;
    
    &:visited {
      color: inherit;
    }
  }
}

.disclose-arrow {
  width: 7px;
  height: 7px;
  background: url(../../shared/img/down-arrow.svg) no-repeat center;
  transition-duration: 0.5s;
  position: absolute;
  left: 10px;
  padding-top: 1em;

  &.rotated {
    transform: rotate(-180deg);
  }

  &.hidden {
    display: none;
  }
}
